body{
    font-family: 'Montserrat';
    background: linear-gradient(90deg, #a6c0fe 0%, #f68084 100%);
}

.header_container{
    filter: blur(57.79999923706055px);
    background: rgba(0, 0, 0, 0.21);
    height: 315px;
    position: relative;
}

.bsu_logo{
    width: 482px;
    height: 71px;
}

.bsu_logo img{
    width: 100%;
    height: 100%;
}
.him_logo{
    width: 482px;
    height: 71px;
}

.him_logo img{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}

input{
    border-radius: 32px;
    box-shadow: 5px 6px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border:0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 18px;
}

button{
    border:0;
}

.name{
    width: 305px;
    height: 74px;
}
.number{
    width: 305px;
    height: 74px;
}
.phone{
    width: 305px;
    height: 74px;
}
.textarea{
    width: 954px;
    height: 160px;}

.login{
    width: 310px;
    height: 75px;
}
.password{
    width: 310px;
    height: 75px;
}

.index_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 964px;
    height: 436px;
    margin: 0 auto;
}

.login_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 310px;
    height: 310px;
    margin: 0 auto;
}

.button{
    border-radius: 32px;
    box-shadow: 5px 6px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: 5331CF;
    color: white;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.button-login{
    width: 310px;
    font-size: 20px;
}

.button-big{
    height: 90px;
    font-weight: bold;
    font-size:20px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button input[type=file] {
    display: none; /* Скрыть поле выбора файла */
}
.info{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.texts{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-weight: bold;
}

.admin{
    margin-right: 70px;
}

.heading{
    color:white;
}
.table {

    border-collapse: collapse;
    display: flex;
    justify-content: center;
    border-radius: 30px 30px 30px 30px;
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Закругление границ строк таблицы */
tr {
/*border-radius: 30px;*/
}

/* Стили для первой строки (заголовков) таблицы */
tr:first-child {
    /*border-radius:30px ;*/
    overflow: hidden;
    background: linear-gradient(90deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);

}
.head_table{

    background: linear-gradient(90deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.accept{
    background-color: aquamarine;
}

.trash{
    background-color: crimson;
}

td{
    background-color: A5ACDC;
}


